streamlit==1.31.0
spacy==3.7.2
transformers==4.38.2
pandas==2.2.1
psutil==5.9.8
torch==2.2.1
spacy>=3.7.2,<3.8.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
